[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
tweepy = "*"
pandas = "*"
requests = "*"
boto3 = "*"
profanity-filter = "*"
spacy = "==2.3.7"
spacy-langdetect = "*"
purgomalum = "*"

[dev-packages]

[requires]
python_version = "*"
