[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
tweepy = "*"
pandas = "*"
requests = "*"
boto3 = "*"
purgomalum = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "*"
